@using tatil.entity.Identity
@model List<AppUser>
@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
@section Styles{
    <style>
        li{
            list-style: none;
        }
        li label{
            margin-bottom: 0
        }
        li ul{
            margin-left:.6rem;
        }
        ul .form-check{
            margin-bottom:0;
        }
        ol, ul{
            padding-left: 0;
        }
        .filter-result{
            display: flex;
            flex-wrap: wrap;
            gap: 10px;
        }
    </style>
}


<div class="econtent-65"></div>
<div class="row">
    <div class="col">
        <h2>Onaylı Hesaplar</h2>
    </div>
</div>

<table class="table table-hover" style="background-color:#fff">
  <thead>
    <tr>
        <th scope="col">E-Posta</th>
        <th scope="col">Telefon</th>
        <th scope="col" width="200"></th>
    </tr>
  </thead>
  <tbody>
    @for(var i = 0; i < @Model.Count; i++)
    {
    <tr>
        <td>@Model[i].Email</td>
        <td>@Model[i].PhoneNumber</td>
        <td>
            <a href="/admin/editUser/@Model[i].Id">Görüntüle</a>
        </td>
    </tr>
    }
  </tbody>
</table>
