@using tatil.entity.Identity
@model AppUser
@{
    ViewData["Title"] = "Şifremi Sıfırla";
    Layout = "~/Views/Shared/_ProcessLayout.cshtml";
}
@section Styles{
    <style>
        .input-user{
            padding: .4rem .35rem;
        }
    </style>
}
<div class="container">
    <div class="main-body" style="width:50%;margin:auto;margin-top: 2rem;margin-bottom: 2rem;">
        <div class="mt-3 data-annotations">
            <div asp-validation-summary="All"></div>
            <ul>@Html.Raw(TempData["Errors"])</ul>
        </div>
        <h1 style="font-size:1.75rem;font-weight:600;font-family:'open sans';padding:.5rem">Şifremi Değiştir</h1>
        <form method="post" action="/user/updatePassword" class="card">
            <div class="card-body">
                <div class="input-group"></div>
                <label for="cpass">Mevcut Şifre</label>
                <input type="password" class="input-user d-block w-100" id="cpass" name="CurrentPassword">
            </div>
            <div class="card-body">
                <div class="input-group"></div>
                <label for="npass">Yeni Şifre</label>
                <input type="password" class="input-user d-block w-100" id="npass" name="NewPassword">
            </div>
            <div class="card-body">
                <div class="input-group"></div>
                <label for="npassa">Yeni Şifre (Tekrar)</label>
                <input type="password" class="input-user d-block w-100" id="npassa" name="NewPasswordAgain">
            </div>
            <input class="form-control" hidden value='@ViewData["PasswordResetToken"]' name="Token">
            <input class="form-control" hidden value='@User.Identity?.Name' name="UserName">
            <button class="button-user d-block w-100">Şifreyi Değiştir</button>
        </form>
    </div>
</div>